Repository COS301-SE-2024/MyCity, pull requests merged in 2024-06, with the labels that each got.

#101 merging signuping
  backend/app.py
  backend/chalicelib/auth/auth_routes.py
  frontend/src/app/dashboard/page.tsx
  frontend/src/components/Signup/CitizenSignup.tsx
  frontend/src/components/Signup/ServiceProviderSignup.tsx
Labels: enhancement, backend

#100 Updated Backend Code for creating a ticket
  README.md
  backend/chalicelib/tickets/tickets_controllers.py
  backend/chalicelib/tickets/tickets_routes.py
Labels: backend

#106 merge feature/frontend tweaks into development
  frontend/__tests__/integration/login.test.tsx
  frontend/__tests__/integration/signup.test.tsx
  frontend/jest.setup.ts
  frontend/src/app/about/page.tsx
  frontend/src/app/auth/login/page.tsx
  frontend/src/app/auth/signup/page.tsx
  frontend/src/app/dashboard/citizen/page.tsx
  frontend/src/app/dashboard/guest/page.tsx
  frontend/src/app/dashboard/municipality/page.tsx
  frontend/src/app/dashboard/service-provider/page.tsx
  frontend/src/app/globals.scss
  frontend/src/app/home/page.tsx
  frontend/src/app/how-it-works/page.tsx
  frontend/src/app/login/page.tsx
  frontend/src/app/profile/citizen/page.tsx
  frontend/src/app/profile/municipality/page.tsx
  frontend/src/app/profile/service-provider/page.tsx
  frontend/src/app/report-fault/page.tsx
  frontend/src/components/EditProfile/UserProfile.tsx
  frontend/src/components/Login/CitizenLogin.tsx
  frontend/src/components/Navbar/NavbarBluish.tsx
  frontend/src/components/Navbar/NavbarWhite.tsx
  frontend/src/components/Signup/CitizenSignup.tsx
  frontend/src/types/UserSession.ts
Labels: frontend

#122 Changed input boxes for citizen profile
  README.md
  frontend/src/components/EditProfile/UserProfile.tsx
Labels: frontend

#125 Populate Create Ticket Dropdown
  backend/app.py
  backend/chalicelib/tickets/tickets_controllers.py
  backend/chalicelib/tickets/tickets_routes.py
  frontend/src/components/CreateTicket/CreateTicketForm.tsx
Labels: enhancement, backend, frontend

#152 Basic search functionality
  backend/app.py
  backend/chalicelib/searching/searching_controllers.py
  backend/chalicelib/searching/searching_routes.py
  frontend/src/app/search/citizen/page.tsx
  frontend/src/components/Search/SearchMunicipality.tsx
  frontend/src/components/Search/SearchSP.tsx
  frontend/src/components/Search/SearchTicket.tsx
Labels: enhancement, backend, frontend
