Repository COS301-SE-2024/MyCity, pull requests merged in 2024-09, with the labels that each got.

#692 Minor Test to see what happens
  frontend/README.md
  frontend/__tests__/components/About/aboutpage.test.tsx
Labels: testing, frontend

#702 Login Tests
  frontend/__tests__/components/Login/CitizenLogin.test.tsx
  frontend/__tests__/components/Login/MunicipalityLogin.test.tsx
  frontend/__tests__/components/Login/ServiceProviderLogin.test.tsx
  frontend/src/components/Login/CitizenLogin.tsx
  frontend/src/components/Login/MunicipalityLogin.tsx
  frontend/src/components/Login/ServiceProviderLogin.tsx
Labels: testing, frontend

#704 Additional Login tests for frontend
  README.md
  frontend/__tests__/components/Login/CitizenLogin.test.tsx
  frontend/__tests__/components/Login/MunicipalityLogin.test.tsx
  frontend/__tests__/components/Login/ServiceProviderLogin.test.tsx
  frontend/package-lock.json
  images/icon_mapbox.png
  images/icon_mapsDirections.png
  images/icon_placekit.png
Labels: testing, frontend

#733 bump next from 14.2.5 to 14.2.13 in /frontend
  frontend/package-lock.json
  frontend/package.json
  frontend/src/app/dashboard/municipality/page.tsx
  frontend/src/app/notifications/citizen/page.tsx
  frontend/src/app/notifications/municipality/page.tsx
  frontend/src/app/search/citizen/page.tsx
  frontend/src/app/search/municipality/page.tsx
  frontend/src/app/settings/municipality/page.tsx
  frontend/src/components/Comments/comments.tsx
  frontend/src/components/NotificationsMuniNew/Alert.tsx
  frontend/src/components/NotificationsMuniNew/TenderNoti.tsx
  frontend/src/components/NotificationsMuniNew/TicketNoti.tsx
  frontend/src/components/RecordsTable/IntegratedRecord.tsx
  frontend/src/components/RecordsTable/IntegratedRecordsTable.tsx
  frontend/src/components/RecordsTable/MuniTenders.tsx
  frontend/src/components/Search/SearchTicket.tsx
  frontend/src/components/TicketViewMuni/TicketViewMuni.tsx
  frontend/src/services/search.service.ts
  nodejs_api/app.ts
  nodejs_api/package-lock.json
  nodejs_api/package.json
  nodejs_api/serverless.yml
  nodejs_api/src/config/dynamodb.config.ts
  nodejs_api/src/controllers/municipalities.controller.ts
  nodejs_api/src/controllers/notifications.controller.ts
  nodejs_api/src/controllers/searching.controller.ts
  nodejs_api/src/controllers/tenders.controller.ts
  nodejs_api/src/controllers/tickets.controller.ts
  nodejs_api/src/controllers/upvotes.controller.ts
  nodejs_api/src/controllers/users.controller.ts
  nodejs_api/src/controllers/watchlist.controller.ts
  nodejs_api/src/routes/municipalities.route.ts
  nodejs_api/src/routes/notifications.route.ts
  nodejs_api/src/routes/searching.route.ts
  nodejs_api/src/routes/tenders.route.ts
  nodejs_api/src/routes/tickets.route.ts
  nodejs_api/src/routes/upvotes.route.ts
  nodejs_api/src/routes/users.route.ts
  nodejs_api/src/routes/watchlist.route.ts
  nodejs_api/src/services/municipalities.service.ts
  nodejs_api/src/services/notifications.service.ts
  nodejs_api/src/services/searching.service.ts
  nodejs_api/src/services/tenders.service.ts
  nodejs_api/src/services/tickets.service.ts
  nodejs_api/src/services/upvotes.service.ts
  nodejs_api/src/services/users.service.ts
  nodejs_api/src/services/watchlist.service.ts
  nodejs_api/src/types/error.types.ts
  nodejs_api/src/utils/searching.utils.ts
  nodejs_api/src/utils/tenders.utils.ts
  nodejs_api/src/utils/tickets.utils.ts
  python_api/.chalice/deployed/dev.json
  python_api/.chalice/deployed/prod.json
  python_api/.chalice/update_api_gateway.py
  python_api/app.py
  python_api/tests/integration/municipalities_integration_test.py
  python_api/tests/integration/tenders_integration_test.py
  python_api/tests/unit/municipalities_unit_test.py
  python_api/tests/unit/searching_unit_test.py
  python_api/tests/unit/tenders_unit_test.py
Labels: dependencies

#749 Frontend Updated Unit Tests for SignUp
  frontend/__tests__/components/Signup/CitizenSignup.test.tsx
  frontend/__tests__/components/Signup/MunicipalitySignup.test.tsx
  frontend/__tests__/components/Signup/ServiceProviderSignup.test.tsx
  frontend/package-lock.json
  frontend/src/components/Signup/CitizenSignup.tsx
Labels: testing, frontend

#823 Controllers Unit Tests
  nodejs_api/__tests__/integration/tickets.route.test.ts
  nodejs_api/__tests__/unit/analytics.controller.test.ts
  nodejs_api/__tests__/unit/municipalities.controller.test.ts
  nodejs_api/__tests__/unit/notifications.controller.test.ts
  nodejs_api/__tests__/unit/tenders.controller.test.ts
  nodejs_api/__tests__/unit/tickets.controller.test.ts
  nodejs_api/__tests__/unit/tickets.service.test.ts
  nodejs_api/__tests__/unit/upvotes.controller.test.ts
  nodejs_api/__tests__/unit/users.controller.test.ts
  nodejs_api/__tests__/unit/watchlist.controller.test.ts
  nodejs_api/package-lock.json
Labels: testing, backend

#825 Unit test
  nodejs_api/__tests__/integration/analytics.route.test.ts
  nodejs_api/__tests__/integration/municipalities.route.test.ts
  nodejs_api/__tests__/integration/notifications.route.test.ts
  nodejs_api/__tests__/integration/searching.route.test.ts
  nodejs_api/__tests__/integration/tenders.route.test.ts
  nodejs_api/__tests__/integration/upvotes.route.test.ts
  nodejs_api/__tests__/integration/users.route.test.ts
  nodejs_api/__tests__/integration/watchlist.route.test.ts
  nodejs_api/__tests__/unit/analytics.service.test.ts
  nodejs_api/__tests__/unit/municipalities.service.test.ts
  nodejs_api/__tests__/unit/notifications.service.test.ts
  nodejs_api/__tests__/unit/searching.controller.test.ts
  nodejs_api/__tests__/unit/searching.service.test.ts
  nodejs_api/__tests__/unit/tenders.service.test.ts
  nodejs_api/__tests__/unit/upvotes.service.test.ts
  nodejs_api/__tests__/unit/users.service.test.ts
  nodejs_api/__tests__/unit/watchlist.service.test.ts
Labels: testing, backend

#840 Backend tests (hopefully last PR)
  nodejs_api/__tests__/integration/analytics.route.test.ts
  nodejs_api/__tests__/integration/tickets.route.test.ts
  nodejs_api/__tests__/unit/tickets.service.test.ts
Labels: testing, backend
