Repository COS301-SE-2024/MyCity, pull requests merged in 2024-07, with the labels that each got.

#205 Bugfix/signup muni dropdown
  backend/app.py
  backend/chalicelib/municipalities/municipalities_controllers.py
  backend/chalicelib/municipalities/municipalities_routes.py
  backend/chalicelib/profiles/__init__.py
  backend/chalicelib/profiles/profiles_controllers.py
  backend/chalicelib/profiles/profiles_routes.py
  frontend/src/components/Signup/CitizenSignup.tsx
Labels: bug

#237 updated requirements.txt to include all dependencies
  backend/requirements.txt
Labels: backend

#254 Basic Unit tests written for Tickets (backend)
  backend/chalicelib/tickets/tickets_controllers.py
  backend/tests/unit/tickets_unit_test.py
Labels: testing, backend

#278 integrated API deployment and backend tests into CI/CD
  .github/workflows/deploy.yml
  .github/workflows/deploytoS3.yml
  .github/workflows/run_tests.yml
  backend/requirements.txt
  backend/tests/unit/auth_unit_test.py
  backend/tests/unit/tickets_unit_test.py
Labels: testing, backend

#318 Backend completed with tests for comments on tickets
  backend/chalicelib/tickets/tickets_controllers.py
  backend/chalicelib/tickets/tickets_routes.py
  backend/tests/unit/tickets_unit_test.py
Labels: backend

#324 Backend for viewing all comments of a ticket
  backend/chalicelib/tickets/tickets_controllers.py
  backend/chalicelib/tickets/tickets_routes.py
  backend/tests/unit/tickets_unit_test.py
  frontend/src/services/tickets.service.ts
Labels: backend
